{# 延伸 base.twig #}
{% extends "base.twig" %}

{# 頁面標題 #}
{% block title %}報吿書{% endblock title %}

{# html頭 #}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-light.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
{# extend twig language #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/twig.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    hljs.highlightAll();
    $("table").addClass("table");
    $(".doc-main").find("img").addClass("img-fluid");
  });
</script>
{% endblock head %}

{# 內容 #}
{% block content %}
<div class="doc-layout">
  <aside class="doc-sidebar">
    <nav class="doc-links" id="doc-nav" aria-label="navigation">
      <ul class="list-unstyled">
        {% for page in pages %}

          {# 如果該頁面不是巢狀的 #}
          {% if not page.nested %}

          {# 分隔線 #}
          {% if page.href is null %}
          <li class="my-3 mx-4 border-top"></li>

          {# 不是分隔線 #}
          {% else %}
          <li class="mb-1">
            <a href="{{ '/report' ~ page.href }}" class="d-inline-flex align-items-center rounded {{ page.active ? 'active' : '' }}">
              {{ page.name }}
            </a>
          </li>
          {% endif %}

          {# 如果該頁面是巢狀的 #}
          {% else %}
            <li>
              <button class="btn d-inline-flex align-items-center rounded {{ page.active ? '' : 'collapsed' }}" data-bs-toggle="collapse" data-bs-target="#{{ page.name }}" aria-expanded="{{ page.active ? 'true' : 'false' }}">
                {{ page.name }}
              </button>
              <div class="collapse {{ page.active ? 'show' : '' }}" id="{{ page.name }}">
                <ul class="list-unstyled fw-normal pb-1 small">
                  {% for subpage in page.pages %}

                    {# 分隔線 #}
                    {% if subpage.href is null %}
                    <li class="my-3 mx-4 border-top"></li>

                    {# 不是分隔線 #}
                    {% else %}
                    <li class="mb-1">
                      <a href="{{ '/report' ~ subpage.href }}" class="d-inline-flex align-items-center rounded {{ subpage.active ? 'active' : '' }}">
                        {{ subpage.name }}
                      </a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </aside>
  {# TODO: fix main content width #}
  <main class="doc-main order-1 doc-main">
    {{ markdown | raw }}
  </main>
  {# TODO: Table of content, use grid template #}
</div>
{% endblock %}


{# html腳 #}
{% block footer %}
{{ parent() }}
{% endblock footer %}